/* RESET RULES  */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: currentColor;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
    aspect-ratio: 1 / 1;
    margin: auto;
}

/* HEADER  */

header {
    background-image: url(/img/wall.png);
    text-align: center;
    font-size: 40px;
    padding: 20px;
}

/* BODY  */

body {
    background-image: url(/img/cork.png);
}

/* MAIN  */

.container {
    max-width: 80%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.col-33 {
    /* width: 33%; */
    margin: auto;
    padding: 15px;
}

/* CARD  */

.col-33 {
    background-color: white;
}

img {
    width: 270px;
}

.card_container {
    width: 270px;
    margin: 0 auto;
}









/* DEBUG  */

.debug {
    border: 3px solid black;
}