/* RESET RULES  */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: currentColor;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
    aspect-ratio: 1 / 1;
    margin: auto;
}

/* HEADER  */

header {
    background-image: url(/img/wall.png);
    text-align: center;
    font-size: 40px;
    padding: 20px;
}

/* BODY  */

body {
    background-image: url(/img/cork.png);
}

/* MAIN  */

.container {
    max-width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.col-33 {
    /* width: 33%; */
    margin: 0 auto;
    padding: 15px;
    background-color: white;
}

/* CARD  */

img {
    width: 270px;
}

.card_container {
    width: 270px;
    margin: 0 auto;
}

.pin {
    width: 25px;
    position: relative;
    margin: auto;
    z-index: 1;
    top: 20px;
}

/* OVERLAY  */

.overlay {
    /* BACKGROUND TRASPARENTE E DIMENSIONE MASSIMA  */
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vmax;
    width: 100vmax;
    /* DISPLAY FLEX E ALLINEO GLI ELEMENTI  */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    /* POSZIONO DOVE MI SERVE */
    position: fixed;
    z-index: 2;
}

.viewport_img {
   width: 100%;
}

.close_btn {
    padding: 5px;
    font-size: 20px;
    border-radius: 10%;
}